<div class="services">
    <h4 id="services">Services</h4>
    <h5>Academic service</h5>
    <ul>
        <li>
            Conference PC&AC member
            <ul>
                <li>AI area: AAAI(2024-2025); IJCAI(2024-2025); AISTATS(2025); IJCNN(2025)</li>
                <li>ML area: ICML(2024-2025); Neurips(2024-2025); ICLR(2025); ACML(2024-2025)</li>
                <li>DM area: KDD(2019-2025); WSDM(2024-2025); CIKM(2023-2024); ECML-PKDD(2024-2025); IEEE BigData(2024-2025) </li>
                <li>IR area: WebConf(2024-2025); Recsys(2024); SIGIR(2025)
            </ul>
        </li>
        <li>
            Journal reviewer
            <ul>
                <li>IEEE Transactions on Knowledge and Data Engineering(TKDE)</li>
                <li>Pattern Recognition(PR)</li>
                <li>Knowledge-Based Systems(KBS)</li>
                <li>Engineering Applications of Artificial Intelligence(EAAI)</li>
                <li>Expert Systems With Applications(ESWA)</li>
            </ul>
        </li>
    </ul>
</div>
